select[multiple], select[size] {
    width: auto;
}

.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

.navbar-nav {
    margin: 10px;
}
